<div class="row ">
    <div class="col-12 col-md-2">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQuOpSUqB-KYHJ1UwqsaROBG-t9U5p8JS62ew&usqp=CAU" height="100px" width="100px" alt="">
    </div>  
    <div class="col-12 col-md-10 mt-3">
        <div class="d-flex">
            <a routerLink="/post/{{post.id}}"><h4>{{post.title}} | Author</h4></a>
        </div>
        <div class="d-inline-flex">
            <p>
                {{post.body.substring(0,120)}}...
            </p>
        </div>
    </div>  
</div>
